html{
    height: 100%;

}

body{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.footer{
    flex-shrink: unset;
}

.content {
    flex: 1 0 auto;
}

.jumbotron{
    background-color: #F6CED8;
}

#bookButton{
    margin: 0 15px;
}

.myHeader{
    padding: 20px 0;
}

.table-asc{
    background-color: #FBEFF2;
}

.table-desc{
    background-color: #F2F2F2;
}

