html{
    height: 100%;
}

body{
    padding-top: 55px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.footer{
    flex-shrink: unset;
}

.content {
    flex: 1 0 auto;
}

.jumbotron{
    background-color: #F6CED8;
}

#bookButton{
    margin: 0 15px;
}

.myHeader{
    padding: 20px 0;
}

.time-button{
    margin: 15px;
    padding: 5px 20px;
    text-align: center;
    background-color: #fff;
    border: 2px solid #eaa;
    cursor: pointer;
}
