{% extends 'base.html' %}


{% block title %}
Список записів
{% endblock %}


{% block header %}
Список записів
{% endblock %}


{% block styles %}
{{ super() }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
{% endblock %}


{% block content %}
{{ csrf_token }}

<div id="modalDelete" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Видалення запису</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Ви впевнені, що хочете видалити запис?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger submit">Видалити</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
            </div>
        </div>
    </div>
</div>

<div id="modalEdit" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="row">
                <div class="col-10 mx-auto" id="messageEdit"></div>
            </div>
            <div class="modal-body">
                <form id="edit-form">
                    <div class="row">
                        <div class="col-12 col-sm-10 mx-auto">
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label">Майстер</label>
                                <div class="col-lg-9">
                                    <select data-live-search="true" title="Не обрано"
                                            class="selectpicker form-control"
                                            data-none-results-text="Немає результатів"
                                            name="master_id" required="">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-10 mx-auto">
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label">Процедура</label>
                                <div class="col-lg-9">
                                    <select data-live-search="true" title="Не обрано"
                                            class="selectpicker form-control"
                                            data-none-results-text="Немає результатів"
                                            name="procedure_id" required="">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-10 mx-auto">
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label">Клієнт</label>
                                <div class="col-lg-9">
                                    <select data-live-search="true" title="Не обрано"
                                            class="selectpicker form-control"
                                            data-none-results-text="Немає результатів"
                                            name="client_id" required="">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-10 mx-auto">
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label">День</label>
                                <div class="col-lg-5 input-group date" id="day_datetimepicker"
                                     data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input" name="day" required="">
                                    <div class="input-group-append" data-target="#day_datetimepicker"
                                         data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-10 mx-auto">
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label">Початок</label>
                                <div class="col-lg-5 input-group date" id="start_datetimepicker"
                                     data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input" name="start"
                                           required="">
                                    <div class="input-group-append" data-target="#start_datetimepicker"
                                         data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-clock"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-10 mx-auto">
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label">Кінець</label>
                                <div class="col-lg-5 input-group date" id="end_datetimepicker"
                                     data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input" name="end" required="">
                                    <div class="input-group-append" data-target="#end_datetimepicker"
                                         data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-clock"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-10 mx-auto">
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label">Побажання</label>
                                <div class="col-lg-9">
                                    <textarea style="width: 100%;" name="preferences" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-10 mx-auto">
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label">Підтверджено</label>
                                <div class="col-lg-9">
                                    <input type="checkbox" name="status">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-10 mx-auto">
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label">Ціна</label>
                                <div class="col-lg-9">
                                    <input type="number" min="1" step="1" name="price">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row" id="appointment-paints">
                    <div class="col-12 col-sm-10 mx-auto">
                        <div class="form-group row">
                            <h4 style="display: block; width:100%; text-align: center;">
                                Фарби
                            </h4>
                            <p style="display: block; width:100%; text-align: center;">
                                Запис не використовує фарби
                            </p>
                            <table>
                                <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Код</th>
                                    <th scope="col">Назва</th>
                                    <th scope="col">Кількість, мл</th>
                                </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="form-group row">
                            <button type="button" class="paint-add">Додати</button>
                        </div>
                        <div class="form-group row">
                            <form id="appointment-paint-form">
                                <select data-live-search="true" title="Не обрано"
                                        class="selectpicker"
                                        data-none-results-text="Немає результатів"
                                        name="paint-id" required></select>
                                <input type="number" min="1" name="paint-amount" required>
                                <button type="submit">Зберегти</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary submit" form="edit-form">Зберегти</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
            </div>
        </div>
    </div>
</div>

<!-- Table - list of appointments -->
<div class="row">
    <div class="col-12 col-sm-10 mx-auto" id="table-wrapper">
    </div>
</div>

<div class="row">
    <div class="col-md-10 offset-sm-1">
        <button type="submit" class="btn btn-primary add-new">Додати</button>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
<script src="{{ url_for('static', filename='js/api/admin/paints.js') }}"></script>
<script src="{{ url_for('static', filename='js/api/admin/clients.js') }}"></script>
<script src="{{ url_for('static', filename='js/api/admin/masters.js') }}"></script>
<script src="{{ url_for('static', filename='js/api/admin/procedures.js') }}"></script>
<script src="{{ url_for('static', filename='js/api/admin/appointments.js') }}"></script>
<script src="{{ url_for('static', filename='js/api/admin/appointment_paints.js') }}"></script>
<script>

    var currentAppointment = 0;

    const addNewButton = $('.add-new');

    const modalDelete = $('#modalDelete');
    const modalDeleteSubmit = modalDelete.find('.submit').eq(0);

    const modalEditDayPicker = $('#day_datetimepicker');
    const modalEditStartPicker = $('#start_datetimepicker');
    const modalEditEndPicker = $('#end_datetimepicker');

    const modalEditForm = $('#edit-form');

    const modalEdit = $('#modalEdit');
    const modalEditMaster = modalEdit.find('select[name="master_id"]').eq(0);
    const modalEditProcedure = modalEdit.find('select[name="procedure_id"]').eq(0);
    const modalEditClient = modalEdit.find('select[name="client_id"]').eq(0);
    const modalEditDay = modalEdit.find('input[name="day"]').eq(0);
    const modalEditStart = modalEdit.find('input[name="start"]').eq(0);
    const modalEditEnd = modalEdit.find('input[name="end"]').eq(0);
    const modalEditPreferences = modalEdit.find('textarea[name="preferences"]').eq(0);
    const modalEditStatus = modalEdit.find('input[name="status"]').eq(0);
    const modalEditPrice = modalEdit.find('input[name="price"]').eq(0);
    const modalEditSubmit = modalEdit.find('.submit').eq(0);
    const modalEditHeader = modalEdit.find('.modal-header h4').eq(0);
    const modalEditHeaderEditStr = 'Змінити запис';
    const modalEditHeaderNewStr = 'Додати запис';
    const modalEditMessageBlock = $('#messageEdit');

    const tableWrapper = $('#table-wrapper');

    const csrfToken = $('input[name="csrf_token"]').eq(0);

    const tableEditSpanClassName = 'fa fa-edit table-edit-span';
    const tableDeleteSpanClassName = 'fa fa-trash table-delete-span';
    const tableEditSpanSelector = '.table-edit-span';
    const tableDeleteSpanSelector = '.table-delete-span';

    function fillTableWithRows(table, data) {
        const tbody = table.find('tbody').eq(0);
        $.each(data, function () {
            const tr = $('<tr></tr>');
            tr.append(createIconsTd(this.id, [tableEditSpanClassName, tableDeleteSpanClassName]));
            tr.append(createTd(this.status ? '+' : '-'));
            tr.append(createDateTd(getDateFromDatetime(this.appoint_start)));
            tr.append(createTd(getTimeFromDatetime(this.appoint_start)));
            tr.append(createTd(getTimeFromDatetime(this.appoint_end)));
            tr.append(createTd(this.master_surname + ' ' + this.master_first_name));
            tr.append(createTd(this.procedure_name));
            tr.append(createTd(this.client_surname + ' ' + this.client_first_name));
            tr.append(createTd(this.price));
            tbody.append(tr);
        });
    }

    function initDeleteAppointmentEvents() {
        $(tableDeleteSpanSelector).off();
        $(tableDeleteSpanSelector).on('click', function () {
            const clickedValue = $(this).attr('value');

            modalDelete.modal('show');

            modalDeleteSubmit.off();
            modalDeleteSubmit.on('click', function () {
                sendRequestDeleteAppointment(clickedValue, processRequestDeleteAppointment);
            });
        });
    }

    function initEditAppointmentEvents() {
        $(tableEditSpanSelector).off();
        $(tableEditSpanSelector).on('click', function () {
            modalEditPaints.hide();

            const clickedValue = $(this).attr('value');
            currentAppointment = clickedValue;
            sendRequestGetAppointment(clickedValue, fillEditAppointmentForm);
            sendRequestGetAppointmentPaints(clickedValue, buildAppointmentPaintsTable);

            clearMessagesBlock(modalEditMessageBlock);
            modalEditHeader.html(modalEditHeaderEditStr);
            modalEdit.modal('show');

            modalEditForm.off('submit');
            modalEditForm.on('submit', function () {
                sendRequestEditAppointment(clickedValue, getAllEditData(), processResponseAddOrEditAppointment);
                return false;
            });
        });
    }

    function initAddAppointmentEvent() {
        addNewButton.off();
        addNewButton.on('click', function () {
            modalEditPaints.hide();
            clearAddAppointmentForm();

            clearMessagesBlock(modalEditMessageBlock);
            modalEditHeader.html(modalEditHeaderNewStr);
            modalEdit.modal('show');

            modalEditForm.off('submit');
            modalEditForm.on('submit', function () {
                sendRequestAddAppointment(getAllEditData(), processResponseAddOrEditAppointment);
                return false;
            });
        });
    }

    function clearAddAppointmentForm() {
        modalEditMaster.val('');
        modalEditMaster.removeAttr('disabled');
        modalEditProcedure.val('');
        modalEditClient.val('');
        modalEditClient.removeAttr('disabled');
        modalEditDay.val(getCurrentDay());
        modalEditStart.val('');
        modalEditEnd.val('');
        modalEditPreferences.val('');
        modalEditPrice.val('');
        modalEditStatus.prop('checked', true);

        modalEditClient.selectpicker('refresh');
        modalEditProcedure.selectpicker('refresh');
        modalEditMaster.selectpicker('refresh');
    }

    function buildAppointmentsTable(result) {
        const table = createHeaderTable(
            ['Статус', 'Дата', 'Початок', 'Кінець', 'Майстер', 'Процедура', 'Клієнт', 'Ціна']);
        tableWrapper.html(table);

        fillTableWithRows(table, result.data);
        initDataTable(table);

        initDeleteAppointmentEvents();
        initEditAppointmentEvents();
        initAddAppointmentEvent();
    }

    function fillModalMastersSelect(result) {
        modalEditMaster.html('');
        $.each(result.data, function () {
            const option = $('<option></option>');
            option.val(this.id);
            option.html(this.surname + ' ' + this.first_name);
            modalEditMaster.append(option);
        })
        modalEditMaster.selectpicker('refresh');
    }

    function fillModalClientsSelect(result) {
        modalEditClient.html('');
        $.each(result.data, function () {
            const option = $('<option></option>');
            option.val(this.id);
            option.html(this.surname + ' ' + this.first_name + ', +38' + this.phone);
            modalEditClient.append(option);
        })
        modalEditClient.selectpicker('refresh');
    }

    function fillModalProceduresByCategoriesSelect(result) {
        modalEditProcedure.html('');
        $.each(result.data, function () {
            const optgroup = $('<optgroup></optgroup>');
            optgroup.attr('label', this.name)
            $.each(this.procedures, function () {
                const option = $('<option></option>');
                option.val(this.id);
                option.html(this.name);
                optgroup.append(option);
            });
            modalEditProcedure.append(optgroup);
        })
        modalEditProcedure.selectpicker('refresh');
    }

    function fillEditAppointmentForm(result) {
        modalEditMaster.val(result.data.master_id);
        modalEditMaster.attr('disabled', '');
        modalEditProcedure.val(result.data.procedure_id);
        modalEditClient.val(result.data.client_id);
        modalEditClient.attr('disabled', '');
        modalEditDay.val(getDateFromDatetime(result.data.appoint_start));
        modalEditStart.val(getTimeFromDatetime(result.data.appoint_start));
        modalEditEnd.val(getTimeFromDatetime(result.data.appoint_end));
        modalEditPreferences.val(result.data.preferences);
        modalEditPrice.val(result.data.price);
        modalEditStatus.prop('checked', result.data.status);

        modalEditClient.selectpicker('refresh');
        modalEditProcedure.selectpicker('refresh');
        modalEditMaster.selectpicker('refresh');
    }

    function processResponseAddOrEditAppointment(result) {
        if (result.status === false) {
            showErrorBlock(modalEditMessageBlock, result.message);
        } else {
            modalEdit.modal('hide');
            showSuccess(result.message);
            sendRequestGetAllAppointments(buildAppointmentsTable);
        }
    }

    function processRequestDeleteAppointment(result) {
        modalDelete.modal('hide');
        if (result.status === false) {
            showError(result.message);
        } else {
            showSuccess(result.message);
            sendRequestGetAllAppointments(buildAppointmentsTable);
        }
    }

    function getAllEditData() {
        return {
            'appoint_start': modalEditDay.val() + ' ' + modalEditStart.val(),
            'appoint_end': modalEditDay.val() + ' ' + modalEditEnd.val(),
            'master_id': modalEditMaster.val(),
            'client_id': modalEditClient.val(),
            'procedure_id': modalEditProcedure.val(),
            'preferences': modalEditPreferences.val(),
            'price': modalEditPrice.val(),
            'status': modalEditStatus.prop('checked'),
            'csrf_token': csrfToken.val()
        };
    }

</script>
<script>


    const modalEditPaints = $('#appointment-paints');
    const modalEditPaintsTable = modalEditPaints.find('table').eq(0);
    const modalEditPaintsList = modalEditPaintsTable.find('tbody').eq(0);
    const modalEditPaintsNone = modalEditPaints.find('p').eq(0);
    const modalEditPaintsID = modalEditPaints.find('select[name="paint-id"]').eq(0);
    const modalEditPaintsAmount = modalEditPaints.find('input[name="paint-amount"]').eq(0);
    const modalEditPaintsAddNew = modalEditPaints.find('.paint-add');

    const modalEditPaintForm = $('#appointment-paint-form');

    const paintEditSpanClassName = 'fa fa-edit paint-edit-span';
    const paintDeleteSpanClassName = 'fa fa-trash paint-delete-span';
    const paintEditSpanSelector = '.paint-edit-span';
    const paintDeleteSpanSelector = '.paint-delete-span';

    function buildAppointmentPaintsTable(result) {
        modalEditPaintForm.hide();
        modalEditPaintsNone.hide();
        modalEditPaintsTable.hide();
        modalEditPaintsList.html('');

        if (result.data.length === 0) {
            modalEditPaintsNone.show();
        } else {
            $.each(result.data, function () {
                const tr = $('<tr></tr>');
                tr.append(createIconsTd(this.paint_id, [paintEditSpanClassName, paintDeleteSpanClassName]));
                tr.append(createTd(this.paint_code));
                tr.append(createTd(this.paint_name));
                tr.append(createTd(this.volume_ml));
                modalEditPaintsList.append(tr);
            });
            modalEditPaintsTable.show();
        }
        modalEditPaints.show();

        initDeleteAppointmentPaintEvents();
        initEditAppointmentPaintEvents();
        initAddAppointmentPaintEvent();
    }

    function initDeleteAppointmentPaintEvents() {
        $(paintDeleteSpanSelector).off();
        $(paintDeleteSpanSelector).on('click', function () {
            const clickedValue = $(this).attr('value');
            sendRequestDeleteAppointmentPaint(currentAppointment, clickedValue, processRequestDeleteAppointmentPaint);
        });
    }

    function initAddAppointmentPaintEvent() {
        modalEditPaintsAddNew.off();
        modalEditPaintsAddNew.on('click', function () {
            clearAddAppointmentPaintForm();

            modalEditPaintForm.show();

            modalEditPaintForm.off('submit');
            modalEditPaintForm.on('submit', function () {
                sendRequestAddAppointmentPaint(currentAppointment, getPaintData(), processResponseAddOrEditAppointmentPaint);
                return false;
            });
        });
    }

    function initEditAppointmentPaintEvents() {
        $(paintEditSpanSelector).off();
        $(paintEditSpanSelector).on('click', function () {
            const clickedValue = $(this).attr('value');
            sendRequestGetAppointmentPaint(currentAppointment, clickedValue, fillAppointmentPaintEditForm);

            modalEditPaintForm.show();

            modalEditPaintForm.off('submit');
            modalEditPaintForm.on('submit', function () {
                sendRequestEditAppointmentPaint(currentAppointment, clickedValue, getPaintData(), processResponseAddOrEditAppointmentPaint);
                return false;
            });
        });
    }

    function fillAppointmentPaintEditForm(result) {
        modalEditPaintsID.val(result.data.paint_id);
        modalEditPaintsID.attr('disabled', '');
        modalEditPaintsAmount.val(result.data.volume_ml);

        modalEditPaintsID.selectpicker('refresh');
    }

    function clearAddAppointmentPaintForm() {
        modalEditPaintsID.val('');
        modalEditPaintsID.removeAttr('disabled');
        modalEditPaintsAmount.val('0');

        modalEditPaintsID.selectpicker('refresh');
    }

    function processRequestDeleteAppointmentPaint(result) {
        if (result.status === false) {
            showErrorBlock(modalEditMessageBlock, result.message);
        } else {
            showSuccessBlock(modalEditMessageBlock, result.message);
            sendRequestGetAppointmentPaints(currentAppointment, buildAppointmentPaintsTable);
        }
    }

    function processResponseAddOrEditAppointmentPaint(result) {
        if (result.status === false) {
            showErrorBlock(modalEditMessageBlock, result.message);
        } else {
            showSuccessBlock(modalEditMessageBlock, result.message);
            sendRequestGetAppointmentPaints(currentAppointment, buildAppointmentPaintsTable);
        }
    }

    function getPaintData() {
        return {
            'paint_id': modalEditPaintsID.val(),
            'volume_ml': modalEditPaintsAmount.val(),
            'csrf_token': csrfToken.val()
        };
    }

    function fillModalAppointmentPaintsSelect(result) {
        modalEditPaintsID.html('');
        $.each(result.data, function () {
            const option = $('<option></option>');
            option.val(this.id);
            option.html(this.code + ' - ' + this.name);
            modalEditPaintsID.append(option);
        })

        modalEditPaintsID.selectpicker('refresh');
    }

</script>
<script>

    $(document).ready(function () {
        sendRequestGetAllAppointments(buildAppointmentsTable);
        sendRequestGetMasters(fillModalMastersSelect);
        sendRequestGetClients(fillModalClientsSelect);
        sendRequestGetProceduresByCategories(fillModalProceduresByCategoriesSelect);
        sendRequestGetAllPaints(fillModalAppointmentPaintsSelect);

        initDatePicker(modalEditDayPicker);
        initTimePicker(modalEditStartPicker);
        initTimePicker(modalEditEndPicker);
    });

</script>
{% endblock %}