{% extends 'base.html' %}


{% block title %}
Журнал
{% endblock %}


{% block header %}
Журнал
{% endblock %}


{% block content %}

<div class="row">
    <div class="col-12 col-sm-10">
        <div class="form-group row">
            <div class="col-md-3">
                <div class="form-group">
                    <div class="input-group date" id="admin_journal_datetimepicker" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" id="admin-journal-input">
                        <div class="input-group-append" data-target="#admin_journal_datetimepicker"
                             data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<ul class="nav nav-tabs" id="main-tabs">
</ul>

<div class="tab-content" id="main-content">
</div>


{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='input_date_utils.js') }}"></script>
<script src="{{ url_for('static', filename='table_build_utils.js') }}"></script>
<script src="{{ url_for('static', filename='tabs_build_utils.js') }}"></script>
<script>

function initJournalTab(master) {
    addTab($('#main-tabs'), master.id, master.surname + ' ' + master.first_name);
    const content = buildTabContent($('#main-content'), master.id);

    const table = buildTable();
    content.append(table);

    buildTimeTable(table);

    $.each(master.appointments, function(){
         addAppointment(table, this);
    });

    $.each(master.vacations, function(){
         addVacation(table, this);
    });

    $.each(master.notWorking, function(){
         if (this.start !== this.end) {
            addNotWorking(table, this);
         }
    });
}

function initJournal(result) {

        clearMessages();
        clearTabs($('#main-tabs'));
        clearTabsContent($('#main-content'));

        var status = result['status'];
        var message = result['message'];
        var data = result['data'];

        if(status == false){
            showError(message);
        } else {
            $.each(data, function(){
                initJournalTab(this);
            });
        }
}

function getData(){
    $.ajax({
                type: "GET",
                url: "/get_journal",
                data: {'date': $('#admin-journal-input').val()},
                success: initJournal,
                error: function(error) {
                    console.log(error);
                }
    });
}

$(document).ready(function () {

    setCurrentDateVal($('#admin-journal-input'));

    getData();
    $('#admin-journal-input').focusout(getData);
});

</script>
{% endblock %}