{% extends 'base.html' %}


{% block title %}
Список фарб
{% endblock %}


{% block header %}
Список фарб
{% endblock %}

{% block content %}
{{ csrf_token }}

<div id="modalDelete" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Видалення фарби</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Ви впевнені, що хочете видалити фарбу?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger submit">Видалити</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
            </div>
        </div>
    </div>
</div>

<div id="modalEdit" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="row">
                <div class="col-10 mx-auto" id="messageEdit"></div>
            </div>
            <div class="modal-body">
                <form id="edit-form">
                    <div class="row">
                        <div class="col-12 col-sm-10 mx-auto">
                            <div class="form-group row">
                                <label for="paintNum" class="col-md-2 col-form-label">Номер фарби</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="paintNum" name="paintNum" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="paintName" class="col-md-2 col-form-label">Назва</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="paintName" name="paintName" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="paintLeft" class="col-md-2 col-form-label">Залишок</label>
                                <div class="col-md-2">
                                    <span id="paintLeft" class="form-control"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" form="edit-form" class="btn btn-primary submit">Зберегти</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
            </div>
        </div>
    </div>
</div>


<!-- Table - list of categories -->

<div class="row ">
    <div class="col-12 col-md-10 mx-auto" id="table-wrapper">
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-10 offset-sm-1">
        <button class="btn btn-primary add-new">Додати</button>
    </div>
</div>


{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/api/admin/paints.js') }}"></script>
<script>

    const addNewButton = $('.add-new');

    const modalDelete = $('#modalDelete');
    const modalDeleteSubmit = modalDelete.find('.submit').eq(0);

    const modalEdit = $('#modalEdit');
    const modalEditPaintNum = modalEdit.find('input[name="paintNum"]').eq(0);
    const modalEditPaintName = modalEdit.find('input[name="paintName"]').eq(0);
    const modalEditPaintLeft = modalEdit.find('span[id="paintLeft"]').eq(0);
    const modalEditSubmit = modalEdit.find('.submit').eq(0);
    const modalEditHeader = modalEdit.find('.modal-header h4').eq(0);
    const modalEditHeaderEditStr = 'Змінити фарбу';
    const modalEditHeaderNewStr = 'Додати фарбу';
    const modalEditMessageBlock = $('#messageEdit');
    const modalEditForm = $('#edit-form');

    const tableWrapper = $('#table-wrapper');

    const csrfToken = $('input[name="csrf_token"]').eq(0);

    const tableEditSpanClassName = 'fa fa-edit table-edit-span';
    const tableDeleteSpanClassName = 'fa fa-trash table-delete-span';
    const tableEditSpanSelector = '.table-edit-span';
    const tableDeleteSpanSelector = '.table-delete-span';

    function fillTableWithRows(table, data) {
        const tbody = table.find('tbody').eq(0);
        $.each(data, function () {
            const tr = $('<tr></tr>');
            tr.append(createIconsTd(this.id, [tableEditSpanClassName, tableDeleteSpanClassName]));
            tr.append(createTd(this.code));
            tr.append(createTd(this.name));
            tr.append(createTd(this.left_ml));
            tbody.append(tr);
        });
    }

    function initDeletePaintEvents() {
        $(tableDeleteSpanSelector).off();
        $(tableDeleteSpanSelector).on('click', function () {
            const clickedValue = $(this).attr('value');

            modalDelete.modal('show');

            modalDeleteSubmit.off();
            modalDeleteSubmit.on('click', function () {
                sendRequestDeletePaint(clickedValue, processRequestDeletePaint);
            });
        });
    }

    function initEditPaintEvents() {
        $(tableEditSpanSelector).off();
        $(tableEditSpanSelector).on('click', function () {
            const clickedValue = $(this).attr('value');
            sendRequestGetPaint(clickedValue, processResponseGetPaint);

            clearMessagesBlock(modalEditMessageBlock);
            modalEditHeader.html(modalEditHeaderEditStr);
            modalEdit.modal('show');

            modalEditForm.off('submit');
            modalEditForm.on('submit', function () {
                sendRequestEditPaint(clickedValue, getEditData(), processResponseAddOrEditPaint);
                return false;
            });
        });
    }

    function initAddPaintEvent() {
        addNewButton.off();
        addNewButton.on('click', function () {
            clearAddPaintForm();

            clearMessagesBlock(modalEditMessageBlock);
            modalEditHeader.html(modalEditHeaderNewStr);
            modalEdit.modal('show');

            modalEditForm.off('submit');
            modalEditForm.on('submit', function () {
                sendRequestAddPaint(getEditData(), processResponseAddOrEditPaint);
                return false;
            });
        });
    }

    function clearAddPaintForm() {
        modalEditPaintNum.val('');
        modalEditPaintName.val('');
        modalEditPaintLeft.html('0');
    }

    function processResponseGetAllPaint(result) {
        const table = createHeaderTable(['Номер фарби', 'Назва', 'Залишок, мл']);
        tableWrapper.html(table);
        console.log(result);
        fillTableWithRows(table, result.data);
        initDataTable(table);

        initDeletePaintEvents();
        initEditPaintEvents();
        initAddPaintEvent();
    }

    function processResponseGetPaint(result) {
        modalEditPaintNum.val(result.data.code);
        modalEditPaintName.val(result.data.name);
        modalEditPaintLeft.html(result.data.left_ml);
    }

    function processResponseAddOrEditPaint(result) {
        if (result.status === false) {
            showErrorBlock(modalEditMessageBlock, result.message);
        } else {
            modalEdit.modal('hide');
            showSuccess(result.message);
            sendRequestGetAllPaints(processResponseGetAllPaint);
        }
    }

    function processRequestDeletePaint(result) {
        modalDelete.modal('hide');
        if (result.status === false) {
            showError(result.message);
        } else {
            showSuccess(result.message);
            sendRequestGetAllPaints(processResponseGetAllPaint);
        }
    }

    function getEditData() {
        return {
            'code': modalEditPaintNum.val(),
            'name': modalEditPaintName.val(),
            'left_ml': modalEditPaintLeft.val(),
            'csrf_token': csrfToken.val()
        };
    }

    $(document).ready(function () {
        sendRequestGetAllPaints(processResponseGetAllPaint);
    });


</script>
{% endblock %}