{% extends 'base.html' %}


{% block title %}
Статистика
{% endblock %}


{% block header %}
Статистика
{% endblock %}


{% block styles %}
{{ super() }}
<style>
    @media print {
        * {
            overflow: visible !important;
        }

        #print-icon{
            display: none !important;
        }

        footer{
            display: none !important;
        }

        table {
            page-break-before: always !important;
        }
    }
</style>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-12 col-md-7 mx-auto">
        <span class="fas fa-print" style="cursor:pointer;" id="print-icon"></span>
        <div id="print">
            <div class="row mx-auto" id="all-base"></div>
            <br>
            <div class="row mx-auto">
                <div class="col-md-6 pr-0 pr-md-2 pl-0">
                    <div class="form-group">
                        <div class="input-group date" id="statistics_start_datetimepicker" data-target-input="nearest">
                            <input class="form-control datetimepicker-input" id="statistics-start-input">
                            <div class="input-group-append" data-target="#statistics_start_datetimepicker"
                                 data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 pl-0 pl-md-2 pr-0">
                    <div class="form-group">
                        <div class="input-group date" id="statistics_end_datetimepicker" data-target-input="nearest">
                            <input class="form-control datetimepicker-input" id="statistics-end-input">
                            <div class="input-group-append" data-target="#statistics_end_datetimepicker"
                                 data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mx-auto" id="all-appointments"></div>
            <div class="row mx-auto" id="all-money"></div>
            <div class="row mx-auto" id="all-paints"></div>
            <div class="row mx-auto" id="all-supplies"></div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='input_date_utils.js') }}"></script>
<script src="{{ url_for('static', filename='js/api/admin/statistics.js') }}"></script>
<script>

    const printBlock = $('#print');
    const printIcon = $('#print-icon');

    function doPrint() {
        window.print();
    }

</script>
<script>

    const baseBlock = $('#all-base');
    const appointmentsBlock = $('#all-appointments');
    const moneyBlock = $('#all-money');
    const paintsBlock = $('#all-paints');
    const suppliesBlock = $('#all-supplies');

    function createStatisticsTable(title, overall) {
        const table = $('<table></table>');
        table.addClass('table');
        table.addClass('table-bordered');
        table.css('margin-top', '20px');

        const headerTr = $('<tr></tr>');
        const headerTh = $('<th></th>');
        headerTh.attr('colspan', '2');
        headerTh.html('<h3>' + title + '</h3>');
        headerTh.css('text-align', 'center');

        headerTr.append(headerTh);
        table.append(headerTr);

        if (overall !== null) {
            const overallTr = $('<tr></tr>');
            overallTr.css('font-weight', 'bold');

            const overallTdTitle = $('<td></td>');
            const overallTdValue = $('<td></td>');
            overallTdValue.css('width', '50px');
            overallTdValue.css('text-align', 'right');

            overallTdTitle.html('Всього');
            overallTdValue.html(overall);

            overallTr.append(overallTdTitle);
            overallTr.append(overallTdValue);
            table.append(overallTr);
        }

        return table;

    }

    function appendTrToStatisticsTable(table, title, value) {
        const tr = $('<tr></tr>');
        const tdTitle = $('<td></td>');
        const tdValue = $('<td></td>');
        tdValue.css('width', '50px');
        tdValue.css('text-align', 'right');

        tdTitle.html(title);
        tdValue.html(value);

        tr.append(tdTitle);
        tr.append(tdValue);
        table.append(tr);
    }

    function fillBaseStatistics(result) {
        clearMessages();
        const data = result['data'];

        baseBlock.html('');
        const baseTable = createStatisticsTable('Загальна статистика', null);
        baseBlock.append(baseTable);
        appendTrToStatisticsTable(baseTable, 'Кількість користувачів', data['users']);
        appendTrToStatisticsTable(baseTable, 'Кількість майстрів', data['masters']);
    }

    function fillIntervalStatistics(result) {

        clearMessages();

        var status = result['status'];
        var message = result['message'];
        var data = result['data'];

        appointmentsBlock.html('');
        moneyBlock.html('');
        paintsBlock.html('');
        suppliesBlock.html('');

        if (status === false) {
            showError(message);
        } else {

            const appointmentsTable = createStatisticsTable('Кількість записів', data['appointments']);
            appointmentsBlock.append(appointmentsTable);
            $.each(data['appointments-by-master'], function () {
                appendTrToStatisticsTable(
                    appointmentsTable,
                    this['surname'] + ' ' + this['first_name'],
                    this['amount']
                );
            });

            const moneyTable = createStatisticsTable('Заробіток, грн', data['money']);
            moneyBlock.append(moneyTable);
            $.each(data['money-by-master'], function () {
                appendTrToStatisticsTable(
                    moneyTable,
                    this['surname'] + ' ' + this['first_name'],
                    this['sum_price']
                );
            });

            const paintsTable = createStatisticsTable('Використано фарби, мл', data['paints']);
            paintsBlock.append(paintsTable);
            $.each(data['paints-by-paints'], function () {
                appendTrToStatisticsTable(
                    paintsTable,
                    this['code'] + ' ' + this['name'],
                    this['amount']
                );
            });

            const suppliesTable = createStatisticsTable('Закуплено фарби, мл', data['supplies']);
            suppliesBlock.append(suppliesTable);
            $.each(data['supplies-by-paints'], function () {
                appendTrToStatisticsTable(
                    suppliesTable,
                    this['code'] + ' ' + this['name'],
                    this['amount']
                );
            });
        }
    }

    function getBaseData() {
        sendRequestGetBaseStatistics(fillBaseStatistics);
    }

    function getIntervalData() {
        var start = $('#statistics-start-input').val();
        var end = $('#statistics-end-input').val();

        sendRequestGetIntervalStatistics(start, end, fillIntervalStatistics);
    }

    $(document).ready(function () {

        getBaseData();

        setMonthStartVal($('#statistics-start-input'));
        setCurrentDateVal($('#statistics-end-input'));

        getIntervalData();
        $('#statistics-start-input').focusout(getIntervalData);
        $('#statistics-end-input').focusout(getIntervalData);

        printIcon.on('click', function () {
            doPrint();
        })

    });

</script>
{% endblock %}