{% extends 'base.html' %}


{% block title %}
Статистика
{% endblock %}


{% block header %}
Статистика
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-12 col-sm-10 mx-auto">
        <div class="form-group row">
            <div class="col-md-3 base-stat-label">Кількість користувачів</div>
            <div class="col-md-9 base-stat-number" id="users-amount"></div>
            <div class="col-md-3 base-stat-label">Кількість майстрів</div>
            <div class="col-md-9 base-stat-number" id="masters-amount"></div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">Показати дані з</div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="input-group date" id="statistics_start_datetimepicker" data-target-input="nearest">
                        <input class="form-control datetimepicker-input" id="statistics-start-input">
                        <div class="input-group-append" data-target="#statistics_start_datetimepicker"
                             data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1">по</div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="input-group date" id="statistics_end_datetimepicker" data-target-input="nearest">
                        <input class="form-control datetimepicker-input" id="statistics-end-input">
                        <div class="input-group-append" data-target="#statistics_end_datetimepicker"
                             data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row" id="all-appointments">
            <div class="col-md-12"><h3>Кількість записів</h3></div>
            <div class="col-md-3 stat-label">Всього</div>
            <div class="col-md-9 stat-number" id="appointments-amount"></div>
        </div>
        <div class="form-group row" id="all-money">
            <div class="col-md-12"><h3>Зароблено грошей</h3></div>
            <div class="col-md-3 stat-label">Всього</div>
            <div class="col-md-9 stat-number" id="money-amount"> </div>
        </div>
        <div class="form-group row" id="all-paints">
            <div class="col-md-12"><h3>Використано фарби</h3></div>
            <div class="col-md-3 stat-label">Всього</div>
            <div class="col-md-9 stat-number" id="paints-amount"></div>
        </div>
        <div class="form-group row" id="all-supplies">
            <div class="col-md-12"><h3>Закуплено фарби</h3></div>
            <div class="col-md-3 stat-label">Всього</div>
            <div class="col-md-9 stat-number" id="supplies-amount"></div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='input_date_utils.js') }}"></script>
<script src="{{ url_for('static', filename='js/api/admin/statistics.js') }}"></script>
<script>

function fillBaseStatistics(result){
        $('#message').html('');

        var status = result['status'];
        var message = result['message'];
        var data = result['data'];

        $('#users-amount').html(data['users']);
        $('#masters-amount').html(data['masters']);
}

function fillIntervalStatistics(result){

        $('.added-block').remove();
        $('.stat-number').html('-');
        clearMessages();

        var status = result['status'];
        var message = result['message'];
        var data = result['data'];

        if(status == false){
            showError(message);
        } else {

            $('#appointments-amount').html(data['appointments']);
            $('#money-amount').html(data['money']);
            $('#paints-amount').html(data['paints']);
            $('#supplies-amount').html(data['supplies']);

            $.each(data['appointments-by-master'], function(){
                $('#all-appointments').append(
                '<div class="col-md-3 stat-label added-block">' +
                this['surname'] + ' ' + this['first_name'] +
                '</div>' +
                '<div class="col-md-9 stat-number added-block">' +
                this['amount'] +
                '</div>');
            });
            $.each(data['money-by-master'], function(){
                $('#all-money').append(
                '<div class="col-md-3 stat-label added-block">' +
                this['surname'] + ' ' + this['first_name'] +
                '</div>' +
                '<div class="col-md-9 stat-number added-block">' +
                this['sum_price'] +
                '</div>');
            });
            $.each(data['paints-by-paints'], function(){
                $('#all-paints').append(
                '<div class="col-md-3 stat-label added-block">' +
                this['code'] + ' ' + this['name'] +
                '</div>' +
                '<div class="col-md-9 stat-number added-block">' +
                this['amount'] +
                '</div>');
            });
            $.each(data['supplies-by-paints'], function(){
                $('#all-supplies').append(
                '<div class="col-md-3 stat-label added-block">' +
                this['code'] + ' ' + this['name'] +
                '</div>' +
                '<div class="col-md-9 stat-number added-block">' +
                this['amount'] +
                '</div>');
            });
        }
}

function getBaseData() {
    $.ajax({
                    type: "GET",
                    url: "/get_base_statistics",
                    data: {},
                    success: fillBaseStatistics,
                    error: function(error) {
                        console.log(error);
                    }
    });
}

function getIntervalData() {
    var start = $('#statistics-start-input').val();
    var end = $('#statistics-end-input').val();

    $.ajax({
                    type: "GET",
                    url: "/get_interval_statistics",
                    data: {'date_start': start, 'date_end': end},
                    success: fillIntervalStatistics,
                    error: function(error) {
                        console.log(error);
                    }
    });
}

$(document).ready(function () {

    getBaseData();

    setMonthStartVal($('#statistics-start-input'));
    setCurrentDateVal($('#statistics-end-input'));

    getIntervalData();
    $('#statistics-start-input').focusout(getIntervalData);
    $('#statistics-end-input').focusout(getIntervalData);

});


</script>
{% endblock %}