{% extends 'bootstrap/base.html' %}


{% block head %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">
{{ fontawesome_html() }}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
<link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.css"/>


{% endblock %}


<title>{% block title %}Malinka{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% endblock %}


{% block body %}


{% block nav %}
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="{{ url_for('index') }}">MALINKA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('index') }}">Головна <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('index') + '#procedures' }}">Процедури</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('index') + '#masters' }}">Майстри</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('index') + '#contacts' }}">Контакти</a>
            </li>
        </ul>
        <ul class="navbar-nav d-flex justify-content-end">
            {% if not current_user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('login_get') }}">
                    <span class="fa fas fa-sign-in-alt fa-lg mr-3"></span>
                    Увійти
                </a>
            </li>
            {% else %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarProfile" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <span class="fa fa-user-circle fa-lg mr-3"></span>
                    {{ current_user.surname }} {{current_user.first_name }}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarProfile">
                    {% if current_user.is_admin() %}
                    <a class="dropdown-item" href="{{ url_for('journal_get') }}">Журнал</a>
                    <a class="dropdown-item" href="{{ url_for('statistics_get') }}">Статистика</a>
                    <a class="dropdown-item" href="{{ url_for('categories_get') }}">Категорії</a>
                    <a class="dropdown-item" href="{{ url_for('procedures_get') }}">Процедури</a>
                    <a class="dropdown-item" href="{{ url_for('paints_get') }}">Фарби</a>
                    <a class="dropdown-item" href="{{ url_for('supplies_get') }}">Поставки</a>
                    <a class="dropdown-item" href="{{ url_for('clients_get') }}">Клієнти</a>
                    <a class="dropdown-item" href="{{ url_for('masters_get') }}">Майстри</a>
                    <a class="dropdown-item" href="{{ url_for('schedules_get') }}">Зміни в графіку</a>
                    <a class="dropdown-item" href="{{ url_for('appointments_get') }}">Записи</a>
                    {% endif %}
                    {% if current_user.is_master() %}
                    <a class="dropdown-item" href="{{ url_for('master_timetable_get') }}">Мій розклад</a>
                    {% endif %}
                    <a class="dropdown-item" href="{{ url_for('user_appointments_get') }}">Мої записи</a>
                    <a class="dropdown-item" href="{{ url_for('edit_user_profile_get') }}">Мій кабінет</a>
                    <a class="dropdown-item" href="{{ url_for('logout') }}">Вийти</a>
                </div>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
{% endblock %}

{% block messages %}
<div class="container">
    <div class="row">
        <div class="col-10 mx-auto" id="message">
            {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endif %}

            {% if form %}
            {% for field in form %}
            {% for error in field.errors %}


            {% if error is not mapping %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% else %}

            {% for inner_field_errors in error.values() %}
            {% for inner_field_error in inner_field_errors %}
            <div class="alert alert-danger" role="alert">
                {{ inner_field_error }}
            </div>
            {% endfor %}
            {% endfor %}
            {% endif %}


            {% endfor %}
            {% endfor %}
            {% endif %}

            {% if success %}
            <div class="alert alert-success" role="alert">
                {{ success }}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block header_div %}
<div class="container">
    <div class="row mt-3 mb-3">
        <h4 class="mx-auto">{% block header %}{% endblock %}</h4>
    </div>
</div>
{% endblock %}

{% block content_wrapper %}
<div class="container content">
    {% block content %}

    {% endblock %}
</div>
{% endblock %}

{% block footer %}
<footer class="footer font-small bg-light p-4 mt-5">

    <div class="footer-copyright text-center">© {{ now.year }} Copyright:
        <a href="#"> Malinka</a>
    </div>

</footer>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='jquery.slim.min.js') }}"></script>
<script src="{{ url_for('static', filename='popper.min.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.25.0/moment-with-locales.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
<script src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"></script>
<script src="{{ url_for('static', filename='app.js') }}"></script>
<script src="{{ url_for('static', filename='utils.js') }}"></script>
{% endblock %}

{% endblock %}
