{% extends 'base.html' %}


{% block title %}
Categories
{% endblock %}


{% block content %}


<!-- Table - list of categories -->
<div class="row">
    <div class="col-12 col-sm-10 mx-auto">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th style="width: 5%" scope="col"></th>
                <th style="width: 10%" scope="col"></th>
                <th scope="col">Назва категорії</th>
            </tr>
            </thead>
            <tbody>

            {% for category in categories %}
            <tr>
                <th scope="row">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="check" value="">
                    </div>
                </th>
                <td>
                    <a class="btnEdit" href="{{ url_for('category', category_id=category.id) }}">Змінити</a>
                    <a href="{{ url_for('category_delete', category_id=category.id) }}">Видалити</a>
                </td>
                <td>{{ category.name }}</td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-10 offset-md-1">
        <a href="{{ url_for('category_new') }}"><button class="btn btn-primary">Додати</button></a>
    </div>
</div>





{% endblock %}