{% extends 'base.html' %}


{% block title %}
Categories
{% endblock %}


{% block content %}


<!-- Table - list of categories -->
<div class="row mt-5">
    <div class="col-12 col-sm-10 mx-auto">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th style="width: 10%" scope="col"></th>
                <th scope="col">Назва категорії</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <a class="btnEdit" href="#">Змінити</a>
                    <a href="#">Видалити</a>
                </td>
                <td>Манікюр</td>
            </tr>
            <tr>
                <td>
                    <a href="#">Змінити</a>
                    <a href="#">Видалити</a>
                </td>
                <td>Покраска</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-10 offset-md-1">
        <button type="submit" class="btn btn-primary">Додати</button>
    </div>
</div>





{% endblock %}