{% extends 'base.html' %}


{% block title %}
Додати/змінити клієнта
{% endblock %}


{% block header %}
Додати/змінити клієнта
{% endblock %}


{% block content %}
<div class="content">
    <div class="row">
    <div class="col-12 col-sm-10 mx-auto">
        <form>
            <div class="form-group row">
                <label for="clientSurname" class="col-md-2 col-form-label">Прізвище *</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="clientSurname" name="clientSurname" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="clientName" class="col-md-2 col-form-label">Ім'я *</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="clientName" name="clientName" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="clientSecond" class="col-md-2 col-form-label">По-батькові *</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="clientSecond" name="clientSecond" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="clientIsMan" class="col-md-2 col-form-label">Стать *</label>
                <div class="col-md-10">
                    <select class="form-control" id="clientIsMan" name="clientIsMan" required>
                        <option selected>Choose...</option>
                        <option>Жіноча</option>
                        <option>Чоловіча</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="clientTel" class="col-md-2 col-form-label">Номер телефону *</label>
                <div class="col-md-10">
                    <input type="tel" class="form-control" id="clientTel" name="clientTel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                           placeholder="050 000 0000" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="clientEmail" class="col-md-2 col-form-label">Email </label>
                <div class="col-md-10">
                    <input type="tel" class="form-control" id="clientEmail" name="clientEmail"
                           placeholder="you@example.com">
                </div>
            </div>


            <div class="form-group row">
                <div class="col-md-10 offset-md-2">
                    <button type="submit" class="btn btn-primary">Зберегти</button>
                    <a>
                        <button type="button" class="btn btn-secondary">Назад</button>
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
</div>



{% endblock %}