{% extends 'base.html' %}


{% block title %}
Додати/змінити клієнта
{% endblock %}


{% block header %}
Додати/змінити користувача
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-12 col-sm-10 mx-auto">
        <form method="POST" action="{{ action }}">
            {{ form.csrf_token }}
            <div class="form-group row">
                {{ form.surname.label(class="col-lg-2 col-form-label") }}
                <div class="col-lg-10">
                    {{ form.surname(class="form-control") }}
                </div>
            </div>
            <div class="form-group row">
                {{ form.first_name.label(class="col-lg-2 col-form-label") }}
                <div class="col-lg-10">
                    {{ form.first_name(class="form-control") }}
                </div>
            </div>
            <div class="form-group row">
                {{ form.second_name.label(class="col-lg-2 col-form-label") }}
                <div class="col-lg-10">
                    {{ form.second_name(class="form-control") }}
                </div>
            </div>
            <div class="form-group row">
                {{ form.is_male.label(class="col-lg-2 col-form-label") }}
                <div class="col-lg-10">
                    {% for option in form.is_male %}
                    {{ option }}
                    {{ option.label }}
                    <br>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group row">
                {{ form.phone.label(class="col-lg-2 col-form-label") }}
                <div class="col-lg-10">
                    {{ form.phone(class="form-control") }}
                </div>
            </div>
            <div class="form-group row">
                {{ form.email.label(class="col-lg-2 col-form-label") }}
                <div class="col-lg-10">
                    {{ form.email(class="form-control") }}
                </div>
            </div>
            <!--            <div class="form-group row">-->
            <!--                <label for="clientPhoto" class="col-lg-2 col-form-label">Фото </label>-->
            <!--                <div class="col-lg-10">-->
            <!--                        <div class="custom-file">-->
            <!--                            <input type="file" class="custom-file-input" id="clientPhoto">-->
            <!--                            <label class="custom-file-label" for="clientPhoto">Choose file</label>-->
            <!--                        </div>-->

            <!--                </div>-->
            <!--            </div>-->

            <div class="form-group row">
                <div class="col-lg-10 offset-lg-2">
                    <button type="submit" class="btn btn-primary">Зберегти</button>
                    <a href="{{ url_for('clients_get') }}">
                        <button type="button" class="btn btn-secondary">Назад</button>
                    </a>
                </div>
            </div>
        </form>

        {% if favourite_procedures %}
        <h2>Улюблені процедури</h2>
        {% for procedure in favourite_procedures %}
        <a href="{{ url_for('edit_procedure_get', procedure_id=procedure.id) }}">
            {{ procedure.name }}
        </a>
        <br>
        {% endfor %}
        {% endif %}

        {% if favourite_masters %}
        <h2>Улюблені майстри</h2>
        {% for master in favourite_masters %}
        <a href="{{ url_for('edit_master_get', master_id=master.id) }}">
            <strong>{{ master.surname }} </strong>{{ master.first_name }}
            {% if master.second_name %}{{ master.second_name }}{% endif %},
            +38{{ master.phone }}
        </a>
        <br>
        {% endfor %}
        {% endif %}

    </div>
</div>


{% endblock %}