{% extends 'base.html' %}


{% block title %}
{% if page_header %}
{{ page_header }}
{% else %}
Додати/змінити клієнта
{% endif %}
{% endblock %}


{% block header %}
{% if page_header %}
{{ page_header }}
{% else %}
Додати/змінити клієнта
{% endif %}
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-12 col-sm-10 mx-auto">
        <form method="POST" action="{{ action }}">
            {{ form.csrf_token }}
            <div class="form-group row">
                {{ form.surname.label(class="col-lg-2 col-form-label") }}
                <div class="col-lg-10">
                    {{ form.surname(class="form-control") }}
                </div>
            </div>
            <div class="form-group row">
                {{ form.first_name.label(class="col-lg-2 col-form-label") }}
                <div class="col-lg-10">
                    {{ form.first_name(class="form-control") }}
                </div>
            </div>
            <div class="form-group row">
                {{ form.second_name.label(class="col-lg-2 col-form-label") }}
                <div class="col-lg-10">
                    {{ form.second_name(class="form-control") }}
                </div>
            </div>
            <div class="form-group row">
                {{ form.is_male.label(class="col-lg-2 col-form-label") }}
                <div class="col-lg-10">
                    {% for option in form.is_male %}
                    {{ option }}
                    {{ option.label }}
                    <br>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group row">
                {{ form.phone.label(class="col-lg-2 col-form-label") }}
                <div class="col-lg-10">
                    {{ form.phone(class="form-control") }}
                </div>
            </div>
            <div class="form-group row">
                {{ form.email.label(class="col-lg-2 col-form-label") }}
                <div class="col-lg-10">
                    {{ form.email(class="form-control") }}
                </div>
            </div>
            <!--            <div class="form-group row">-->
            <!--                <label for="clientPhoto" class="col-lg-2 col-form-label">Фото </label>-->
            <!--                <div class="col-lg-10">-->
            <!--                        <div class="custom-file">-->
            <!--                            <input type="file" class="custom-file-input" id="clientPhoto">-->
            <!--                            <label class="custom-file-label" for="clientPhoto">Choose file</label>-->
            <!--                        </div>-->

            <!--                </div>-->
            <!--            </div>-->

            <div class="form-group row mb-5">
                <div class="col-lg-10 offset-lg-2">
                    <button type="submit" class="btn btn-primary">Зберегти</button>
                    <a href="{{ url_for('clients_get') }}">
                        <button type="button" class="btn btn-secondary">Назад</button>
                    </a>
                </div>
            </div>
        </form>

        <h2>Улюблені процедури</h2>
        {% if not favourite_procedures %}
        Немає улюблених процедур
        {% else %}
        {% for procedure in favourite_procedures %}
        {% if user_view %}
        <a href="{{ url_for('delete_favourite_procedure_get', procedure_id=procedure.id) }}">
            <span class="fas fa-times"></span>
        </a>
        {% endif %}
        {{ procedure.name }}
        <br>
        {% endfor %}
        {% endif %}

        <h4>Улюблені майстри</h4>
        {% if not favourite_masters %}
        Немає улюблених майстрів
        {% else %}
        {% for master in favourite_masters %}
        {% if user_view %}
        <a href="{{ url_for('delete_favourite_master_get', master_id=master.id) }}">
            <span class="fas fa-times"></span>
        </a>
        {% endif %}
        <strong>{{ master.surname }} </strong>{{ master.first_name }}
        {% if master.second_name %}{{ master.second_name }}{% endif %}
        <br>
        {% endfor %}
        {% endif %}

    </div>
</div>


{% endblock %}