{% extends 'base.html' %}


{% block title %}
Malinka
{% endblock %}


{% block content %}

<header class="jumbotron">
    <div class="container">
        <div class="row row-header">
            <div class="col-12">
                <h1 class="d-flex justify-content-center">MALINKA</h1>
                <p class="d-flex justify-content-center">The best beauty salon in Kyiv, Ukraine</p>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-md-4">
            <label for="bookButton" class="col-form-label d-flex justify-content-center">Створити запис:</label>
        </div>
        <button type="button" id="bookButton" class="d-flex justify-content-center btn btn-secondary col-md-4">
            ЗАПИСАТИСЯ
        </button>
    </div>


    <div class="row align-items-center">
        <div class="col-12 d-flex justify-content-center myHeader">
            <h4>Процедури</h4>
        </div>
    </div>

    {% for category in categories %}

    <table class="table">
        <thead class=" table-asc">
        <tr>
            <th scope="col"></th>
            <th scope="col">{{ category.name }}</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>

        {% for procedure in category.procedures %}
        <tr>
            <th scope="row"></th>
            <td>
                <h6>{{ procedure.name }}<br></h6>
                {% if procedure.info %}
                <p>{{ procedure.info }}</p>
                {% endif %}
            </td>
            <td></td>
            <td>
                <h5>
                    {{ procedure.price_min }}грн
                    {% if procedure.price_max %}
                    &nbsp;-&nbsp;
                    {{ procedure.price_max }}грн
                    {% endif %}
                </h5>
            </td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
    {% endfor %}

</div>

<div class="jumbotron jumbotron-fluid m-0">
    <div class="container">

    </div>
</div>

<div class="container">
    <div class="row align-items-center">
        <div class="col-12 d-flex justify-content-center mt-5 mb-3">
            <h4>Майстри</h4>
        </div>
    </div>

    <div class="row card-deck mb-5">

        {% for master in masters %}
        <div class="card">
            <img class="card-img-top" src="http://placehold.it/150x100" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">
                    {{ master.surname }}
                    {{ master.first_name }}
                    {% if master.second_name %}
                    {{ master.second_name }}
                    {% endif %}
                </h5>
<!--                <p class="card-text">Інформація про майстра</p>-->
            </div>
            <div class="card-footer">
                <a href="#" class="card-link text-info">Профіль</a><br>
                <a href="#" class="card-link text-info">Записатися до майстра</a>
            </div>
        </div>
        {% endfor %}

    </div>
</div>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row row-header">
            <div class="col-12 col-sm-9">
                <h4>Подивіться журнал, щоб зробити запис</h4>
                <p class="lead">Можете обрати день, процедуру та майстра</p>
            </div>
            <div class="col-12 col-sm-3 justify-content-center align-self-center">
                <button type="button" class="btn btn btn-secondary btn-block">ЗАПИСАТИСЯ</button>
            </div>
        </div>
    </div>
</div>
</div>

<div class="container">
    <div class="row align-items-center">
        <div class="col-12 d-flex justify-content-center mt-5 mb-3">
            <h4>Контакти</h4>
        </div>
    </div>

    <div class="row row-content">
        <div class="col-12 col-sm-4 offset-sm-1">
            <h5>Наша адреса</h5>
            <address style="font-size: 100%">
                адреса адреса адреса<br>
                адреса адреса адреса<br>
                <i class="fa fa-phone"></i>: +380 00 000 0000<br>
                <i class="fa fa-envelope"></i>:
                <a href="mailto:malinka@gmail.com">malinka@gmail.com</a>
            </address>
        </div>
        <div class="col-12 col-sm-6 offset-sm-1">
            <h5>Знайди нас на карті</h5>
        </div>
        <div class="col-12 col-sm-11 offset-sm-1">
            <div class="btn-group" role="group">
                <a class="btn btn-primary" role="button" href="tel:+85212345678"><i class="fa fa-phone"></i> Call</a>
                <a class="btn btn-success" role="button" href="mailto:confusion@food.net"><i class="fa fa-envelope"></i>
                    Mail</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}