{% extends 'base.html' %}


{% block title %}
Салон Malinka
{% endblock %}

{% block header_div %}
{% endblock %}

{% block content_wrapper %}

<div id="modalConfirm" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Створити запис</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            <p>Дата: <span class="modal-date"></span></p>
            <p>Час: <span class="modal-time"></span></p>
            <p>Майстер: <span class="modal-master"></span></p>
            <p>Процедура: <span class="modal-procedure"></span></p>
            <p>Побажання: </p><textarea class="modal-preferences"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="confirmAppointment();">Підтвердити</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
            </div>
        </div>
    </div>
</div>

<header class="jumbotron mb-0">
    <div class="container">
        <div class="row row-header">
            <div class="col-12">
                <h1 class="d-flex justify-content-center">MALINKA</h1>
                <p class="d-flex justify-content-center">The best beauty salon in Kyiv, Ukraine</p>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-md-4">
            <label for="bookButton" class="col-form-label d-flex justify-content-center">Створити запис:</label>
        </div>
        <button type="button" id="bookButton"
                class="d-flex justify-content-center btn btn-secondary col-md-4 create-appointment">
            ЗАПИСАТИСЯ
        </button>
    </div>

    <hr align="center" color="#e5e5e5">

    <div id="procedures" class="row align-items-center">
        <div class="col-12 d-flex justify-content-center myHeader">
            <h4>Процедури</h4>
        </div>
    </div>

    {% for category in categories %}

    <table class="table">
        <thead class="thead-light">
        <tr>
            <th class="text-uppercase" colspan="2" scope="col">{{ category.name }}</th>
        </tr>
        </thead>
        <tbody>
        {% for procedure in category.procedures %}
        <tr class="row pl-3 pr-3">
            <td class="col-7">
                <h6>{{ procedure.name }}<br></h6>
                {% if procedure.info %}
                <p>{{ procedure.info }}</p>
                {% endif %}
            </td>
            <td class="col-5">
                <h5 class="float-md-right">
                    {{ procedure.price_min }}грн
                    {% if procedure.price_max %}
                    &nbsp;-&nbsp;
                    {{ procedure.price_max }}грн
                    {% endif %}
                </h5>
            </td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
    {% endfor %}

</div>

<div class="jumbotron jumbotron-fluid">
    <div class="container">

    </div>
</div>

<div class="container">
    <div id="masters" class="row align-items-center">
        <div class="col-12 d-flex justify-content-center myHeader">
            <h4>Майстри</h4>
        </div>
    </div>

    <div class="row mb-5 ">

        {% for master in masters %}
        <div class="сol-12 col-sm-6 col-md-4 mb-4">
            <div class="card">
                <img class="card-img-top" src="api/masters/{{ master.id }}/photo" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">
                        {{ master.surname }}
                        {{ master.first_name }}
                        {% if master.second_name %}
                        {{ master.second_name }}
                        {% endif %}
                    </h5>
                    <!--                <p class="card-text">Інформація про майстра</p>-->
                </div>
                <!--                <div class="card-footer">-->
                <!--                    <a href="#" class="card-link text-info">Профіль</a><br>-->
                <!--                    <a href="#" class="card-link text-info">Записатися до майстра</a>-->
                <!--                </div>-->
            </div>
        </div>
        {% endfor %}

    </div>
</div>

<div class="jumbotron jumbotron-fluid" id="appointment-jumbotron">
    <div class="container">
        <div class="row row-header">
            <div class="col-12 col-sm-8">
                <h4>Подивіться журнал, щоб зробити запис</h4>
                <p class="lead">Можете обрати день, процедуру та майстра</p>
            </div>
            <div class="col-12 col-sm-4 justify-content-center align-self-center">
                <button type="button" class="btn btn btn-secondary btn-block create-appointment">
                    ЗАПИСАТИСЯ
                </button>
            </div>
        </div>

        <form style="display: none;" id="appointment">
            <div class="form-row">
                <div class="form-group col-md-3 mr-2">
                    <label for="index_datetimepicker">День</label>
                    <div class="input-group date" id="index_datetimepicker" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" id="index-input">
                        <div class="input-group-append" data-target="#index_datetimepicker"
                             data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-3 mr-2">
                    <label for="indexProc">Процедура</label>
                    <select id="indexProc" class="form-control">
                        <option value="">Не обрано</option>
                        {% if favourite_procedures %}
                        <optgroup label="Улюблені">
                            {% for procedure in favourite_procedures %}
                            <option value="{{ procedure.id }}">{{ procedure.name }}</option>
                            {% endfor %}
                        </optgroup>
                        {% endif %}
                        {% for category in categories %}
                        <optgroup label="{{ category.name }}">
                            {% for procedure in category.procedures %}
                            <option value="{{ procedure.id }}">{{ procedure.name }}</option>
                            {% endfor %}
                        </optgroup>
                        {% endfor %}
                    </select>
                </div>

            </div>
        </form>

    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-10 mx-auto" id="index-message">
        </div>
    </div>
</div>

<div class="container" id="index-free-time" style="display:none;">
    <ul class="nav nav-tabs" id="index-tabs">
    </ul>

    <div class="tab-content" id="index-content">
    </div>
</div>

<div class="container">
    <div id="contacts" class="row align-items-center">
        <div class="col-12 d-flex justify-content-center myHeader">
            <h4>Контакти</h4>
        </div>
    </div>

    <div class="row row-content mb-5">
        <div class="col-12 col-sm-4 offset-sm-1">
            <h5 class="mb-2">Наша адреса</h5>
            <address style="font-size: 100%">
                адреса адреса адреса<br>
                адреса адреса адреса<br>
                <i class="fa fa-phone"></i>: +380 00 000 0000<br>
                <i class="fa fa-envelope"></i>:
                <a href="mailto:malinka@gmail.com">malinka@gmail.com</a>
            </address>
        </div>
        <div class="col-12 col-sm-6 offset-sm-1">
            <h5 class="mb-3">Знайди нас на карті</h5>
            <iframe width="476" height="236" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=529&amp;height=236&amp;hl=en&amp;q=%20Kyiv+()&amp;t=&amp;z=16&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>


        </div>
        <div class="col-12 col-sm-11 offset-sm-1">
            <div class="btn-group" role="group">
                <a class="btn btn-primary" role="button" href="tel:+85212345678"><i class="fa fa-phone"></i> Call</a>
                <a class="btn btn-success" role="button" href="mailto:confusion@food.net"><i class="fa fa-envelope"></i>
                    Mail</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}

<script src="{{ url_for('static', filename='input_date_utils.js') }}"></script>
<script src="{{ url_for('static', filename='tabs_build_utils.js') }}"></script>
<script src="{{ url_for('static', filename='index_appointment.js') }}"></script>
<script type='text/javascript' src='https://embedmaps.com/google-maps-authorization/script.js?id=a52bd015ae7fb61548b41ed6dc1b964d8a218043'></script>


{% endblock %}