{% extends 'base.html' %}


{% block title %}
Список майстрів
{% endblock %}


{% block header %}
Список майстрів
{% endblock %}


{% block content %}
{{ csrf_token }}

<div id="modalDelete" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Видалення майстра</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Ви впевнені, що хочете видалити майстра?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger submit">Видалити</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
            </div>
        </div>
    </div>
</div>

<div id="modalEditProcedures" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Редагувати процедури майстра</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-sm-10 mx-auto">
                        <form method="POST" action="{{ action }}">
                            <div class="row mt-5 mb-5">
                                <div class="col-12 col-md-10 mx-auto" id="table-modal">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="submit" form="edit-form" class="btn btn-primary submit">Зберегти</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
            </div>
        </div>
    </div>
</div>

<div id="modalEdit" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="row">
                <div class="col-10 mx-auto" id="messageEdit"></div>
            </div>
            <div class="modal-body">
                <form id="edit-form">
                    <div class="row">
                        <div class="col-12 col-sm-10 mx-auto">
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label">Користувач</label>
                                <div class="col-lg-9">
                                    <select data-live-search="true" title="Не обрано"
                                            class="selectpicker form-control"
                                            data-none-results-text="Немає результатів"
                                            name="client_id" required="">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label">Графік</label>
                                <div class="col-lg-9" id="">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="schedule1"
                                               id="schedule1" value="1" checked>
                                        <label class="form-check-label" for="schedule1">
                                            Парний
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="schedule2"
                                               id="schedule2" value="0">
                                        <label class="form-check-label" for="schedule2">
                                            Непарний
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label">Статус</label>
                                <div class="col-lg-9">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="status1"
                                               id="status1" value="1" checked>
                                        <label class="form-check-label" for="status1">
                                            Працює
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="status2"
                                               id="status2" value="0">
                                        <label class="form-check-label" for="status2">
                                            Звільнено
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" form="edit-form" class="btn btn-primary submit">Зберегти</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
            </div>
        </div>
    </div>
</div>


<!-- Table - list of categories -->

<div class="row">
    <div class="col-12 col-md-10 mx-auto" id="table-wrapper">
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-10 offset-sm-1">
        <button class="btn btn-primary add-new">Додати</button>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/api/admin/masters.js') }}"></script>
<script>

    const addNewButton = $('.add-new');

    const modalDelete = $('#modalDelete');
    const modalDeleteSubmit = modalDelete.find('.submit').eq(0);

    const modalEdit = $('#modalEdit');
    const modalEditMasterClient = modalEdit.find('select[name="client_id"]').eq(0);
    const modalEditMasterEven = modalEdit.find('input[name="schedule1"]').eq(0);
    const modalEditMasterOdd = modalEdit.find('input[name="schedule2"]').eq(0);
    const modalEditMasterWork = modalEdit.find('input[name="status1"]').eq(0);
    const modalEditMasterNotWork = modalEdit.find('input[name="status2"]').eq(0);
    const modalEditSubmit = modalEdit.find('.submit').eq(0);
    const modalEditHeader = modalEdit.find('.modal-header h4').eq(0);
    const modalEditHeaderEditStr = 'Змінити майстра';
    const modalEditHeaderNewStr = 'Додати майстра';
    const modalEditMessageBlock = $('#messageEdit');
    const modalEditForm = $('#edit-form');

    const modalProcedures = $('#modalEditProcedures');
    const modalProceduresHeader = modalProcedures.find('.modal-header h4').eq(0);
    const modalProceduresSubmit = modalProcedures.find('.submit').eq(0);

    const tableWrapper = $('#table-wrapper');
    const tableProcedures = $('#table-modal')

    const csrfToken = $('input[name="csrf_token"]').eq(0);

    const tableEditSpanClassName = 'fa fa-edit table-edit-span';
    const tableDeleteSpanClassName = 'fa fa-trash table-delete-span';
    const tableEditProcSpanClassName = 'fa fa-wrench table-edit-proc-span';
    const tableEditSpanSelector = '.table-edit-span';
    const tableDEditProcSpanSelector = '.table-delete-span';
    const tableDeleteSpanSelector = '.table-edit-proc-span';

    function fillTableWithRows(table, data) {
        const tbody = table.find('tbody').eq(0);
        $.each(data, function () {
            const tr = $('<tr></tr>');
            tr.append(createIconsTd(this.id, [tableEditSpanClassName, tableEditProcSpanClassName, tableDeleteSpanClassName]));
            tr.append(createTd(this.surname));
            tr.append(createTd(this.first_name));
            tr.append(createTd(this.second_name));
            tr.append(createTd(this.is_male));
            tr.append(createTd(this.phone));
            tr.append(createTd(this.even_schedule));
            tr.append(createTd(this.is_hired));
            tbody.append(tr);
        });
    }

    /*function fillModalTableWithRows(table, data) {
        const tbody = table.find('tbody').eq(0);
        $.each(data, function () {
            const tr = $('<tr></tr>');
            tr.append(createTd(this.category));
            tr.append(createTd(this.procedure));
            tr.append(createTd(this.duration));////names
            tbody.append(tr);
        });
    }*/

    function initDeleteMasterEvents() {
        $(tableDeleteSpanSelector).off();
        $(tableDeleteSpanSelector).on('click', function () {
            const clickedValue = $(this).attr('value');

            modalDelete.modal('show');

            modalDeleteSubmit.off();
            modalDeleteSubmit.on('click', function () {
                sendRequestDeleteMaster(clickedValue, processRequestDeleteMaster());
            });
        });
    }

    function initEditMasterEvents() {
        $(tableEditSpanSelector).off();
        $(tableEditSpanSelector).on('click', function () {
            const clickedValue = $(this).attr('value');
            sendRequestGetMaster(clickedValue, processResponseGetMaster);

            clearMessagesBlock(modalEditMessageBlock);
            modalEditHeader.html(modalEditHeaderEditStr);
            modalEdit.modal('show');

            modalEditForm.off('submit');
            modalEditForm.on('submit', function () {
                sendRequestEditMaster(clickedValue, getEditData(), processResponseAddOrEditMaster);
                return false;
            });
        });
    }

    function initAddMasterEvent() {
        addNewButton.off();
        addNewButton.on('click', function () {
            clearAddMasterForm();

            clearMessagesBlock(modalEditMessageBlock);
            modalEditHeader.html(modalEditHeaderNewStr);
            modalEdit.modal('show');

            modalEditForm.off('submit');
            modalEditForm.on('submit', function () {
                sendRequestAddMaster(getEditData(), processResponseAddOrEditMaster);
                return false;
            });
        });
    }

    function clearAddMasterForm() {
        modalEditMasterClient.val('');
        modalEditMasterWork.val('');
        modalEditMasterNotWork.val('');
        modalEditMasterOdd.val('');
        modalEditMasterEven.val('');
    }

    function processResponseGetAllMasters(result) {
        const table = createHeaderTable(['Прізвище', 'Ім`я', 'По-батькові', 'Стать', 'Номер телефону',
            'Графік', 'Працює']);
        tableWrapper.html(table);
        console.log(result);
        fillTableWithRows(table, result.data);
        initDataTable(table);

        initDeleteMasterEvents();
        initEditMasterEvents();
        initAddMasterEvent();
    }

    function processResponseGetMaster(result) {
        modalEditPaintNum.val(result.data.code);
        modalEditPaintName.val(result.data.name);
        modalEditPaintLeft.html(result.data.left_ml);

        modalEditMasterClient.val(result.data.client_id);
        modalEditMasterWork.val('');///////////////
        modalEditMasterNotWork.val('');
        modalEditMasterOdd.val('');
        modalEditMasterEven.val('');
    }

    function processResponseAddOrEditMaster(result) {
        if (result.status === false) {
            showErrorBlock(modalEditMessageBlock, result.message);
        } else {
            modalEdit.modal('hide');
            showSuccess(result.message);
            sendRequestGetAllMasters(processResponseGetAllMasters);
        }
    }

    function processRequestDeleteMaster(result) {
        modalDelete.modal('hide');
        if (result.status === false) {
            showError(result.message);
        } else {
            showSuccess(result.message);
            sendRequestGetAllMasters(processResponseGetAllMasters);
        }
    }

    function getEditData() {
        return {
            'code': modalEditPaintNum.val(),
            'name': modalEditPaintName.val(),
            'left_ml': modalEditPaintLeft.val(),
            'csrf_token': csrfToken.val()
        };
    }

    $(document).ready(function () {
        sendRequestGetAllMasters(processResponseGetAllMasters);
    });


</script>
{% endblock %}