{% extends 'base.html' %}


{% block title %}
Додати/змінити майстра
{% endblock %}


{% block header %}
Додати/змінити майстра
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-12 col-sm-10 mx-auto">
        <form method="POST" action="{{ action }}">
            {{ form.csrf_token }}

            {% if not new_master %}
            <div class="form-group row">
                <label class="col-lg-2 col-form-label">Прізвище</label>
                <div class="col-lg-10">
                    {{ master.surname }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-2 col-form-label">Ім'я</label>
                <div class="col-lg-10">
                    {{ master.first_name }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-2 col-form-label">По-батькові</label>
                <div class="col-lg-10">
                    {% if master.second_name %}{{ master.second_name }}{% endif %}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-2 col-form-label">Стать</label>
                <div class="col-lg-10">
                    {% if master.is_male %}Чоловіча{% else %}Жіноча{% endif %}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-2 col-form-label">Номер телефону</label>
                <div class="col-lg-10">
                    +38{{ master.phone }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-2 col-form-label">Email </label>
                <div class="col-lg-10">
                    {% if master.email %}{{ master.email }}{% endif %}
                </div>
            </div>

            {% else %}

            <!-- IF NEW MASTER -->
            <div class="form-group row">
                {{ form.id.label(class="col-lg-2 col-form-label") }}
                <div class="col-lg-10">
                    {{ form.id(class="form-control") }}
                </div>
            </div>

            {% endif %}

            <div class="form-group row">
                {{ form.even_schedule.label(class="col-lg-2 col-form-label") }}
                <div class="col-lg-10">
                    {% for option in form.even_schedule %}
                    {{ option }}
                    {{ option.label }}
                    <br>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group row">
                {{ form.is_hired.label(class="col-lg-2 col-form-label") }}
                <div class="col-lg-10">
                    {% for option in form.is_hired %}
                    {{ option }}
                    {{ option.label }}
                    <br>
                    {% endfor %}
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-10 offset-lg-2">
                    <button type="submit" class="btn btn-primary">Зберегти</button>
                    <a href="{{ url_for('masters_get') }}">
                        <button type="button" class="btn btn-secondary">Назад</button>
                    </a>
                </div>
            </div>

            {% if not new_master %}
            <div class="form-group row">
                Улюблений у {{ favourite_clients_amount }} користувачів(а)
            </div>
            {% endif %}

            <div class="form-group row">
                <table>
                    {% for procedure in form.procedures %}
                    <tr>
                        {{ procedure.procedure_id }}
                        <td>
                            {{ procedure.category_name.data }}
                        </td>
                        <td>
                            {{ procedure.procedure_name.data }}
                        </td>
                        <td>
                            {{ procedure.duration(class="form-control") }}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

        </form>

    </div>
</div>
{% endblock %}