{% extends 'base.html' %}


{% block title %}
Додати/змінити майстра
{% endblock %}


{% block header %}
Додати/змінити майстра
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-12 col-sm-10 mx-auto">
        <form method="POST" action="{{ action }}">

            {% if not new_master %}
            <div class="form-group row">
                <label class="col-lg-2 col-form-label">Прізвище</label>
                <div class="col-lg-10">
                    {{ master.surname }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-2 col-form-label">Ім'я</label>
                <div class="col-lg-10">
                    {{ master.first_name }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-2 col-form-label">По-батькові</label>
                <div class="col-lg-10">
                    {% if master.second_name %}{{ master.second_name }}{% endif %}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-2 col-form-label">Стать</label>
                <div class="col-lg-10">
                    {% if master.is_male %}Чоловіча{% else %}Жіноча{% endif %}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-2 col-form-label">Номер телефону</label>
                <div class="col-lg-10">
                    +38{{ master.phone }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-2 col-form-label">Email </label>
                <div class="col-lg-10">
                    {% if master.email %}{{ master.email }}{% endif %}
                </div>
            </div>

            {% else %}

            <!-- IF NEW MASTER -->
            <div class="form-group row">
                <label for="MasterUser" class="col-lg-2 col-form-label">Користувач </label>
                <div class="col-lg-10">
                    <select class="form-control" id="MasterUser" name="MasterUser" required>
                        <option selected value="">
                            Оберіть користувача
                        </option>
                        {% for user in users %}
                        <option value="{{ user.id }}">
                            {{ user.surname }} {{ user.first_name }} {{ user.second_name }},
                            +38{{ user.phone }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            {% endif %}

            <div class="form-group row">
                <label for="masterSchedule" class="col-lg-2 col-form-label">Графік </label>
                <div class="col-lg-10">
                    <select class="form-control" id="masterSchedule" name="masterSchedule" required>
                        <option {% if not master %}selected{% endif %} value="">Оберіть графік</option>
                        <option {% if master.even_schedule== False %}selected{% endif %} value="0">Непарний</option>
                        <option {% if master.even_schedule== True %}selected{% endif %} value="1">Парний</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="masterHired" class="col-lg-2 col-form-label">Статус </label>
                <div class="col-lg-10">
                    <select class="form-control" id="masterHired" name="masterHired" required>
                        <option {% if not master %}selected{% endif %} value="">Оберіть статус</option>
                        <option {% if master.is_hired== True %}selected{% endif %} value="1">Працює</option>
                        <option {% if master.is_hired== False %}selected{% endif %} value="0">Звільнено</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-10 offset-lg-2">
                    <button type="submit" class="btn btn-primary">Зберегти</button>
                    <a href="{{ url_for('masters_get') }}">
                        <button type="button" class="btn btn-secondary">Назад</button>
                    </a>
                </div>
            </div>
        </form>

    </div>
</div>
{% endblock %}