{% extends 'base.html' %}


{% block title %}
Список майстрів
{% endblock %}


{% block header %}
Список майстрів
{% endblock %}


{% block content %}

<div class="row">
    <div class="col-12 col-sm-10 mx-auto">
        <table class="table table-bordered table-responsive-lg entriesList">
            <thead>
            <tr>
                <th style="width: 80px" scope="col"></th>
                <th scope="col">Прізвище</th>
                <th scope="col">Ім'я</th>
                <th scope="col">По-батькові</th>
                <th scope="col">Стать</th>
                <th scope="col">Номер телефону</th>
<!--                <th scope="col">E-mail</th>-->
                <th scope="col">Графік</th>
                <th scope="col">Працює</th>
            </tr>
            </thead>
            <tbody>

            {% for master in masters %}
            <tr>
                <td>
                    <div style="width: 80px" class="d-flex justify-content-between">
                        <a href="{{ url_for('edit_client_get', client_id=master.id) }}">
                            <span class="fa fa-edit"></span>
                        </a>
                        <a href="{{ url_for('edit_master_get', master_id=master.id) }}">
                            <span class="fa fa-wrench"></span>
                        </a>
                        <a href="{{ url_for('delete_master_get', master_id=master.id) }}">
                            <span class="fa fa-trash"></span>
                        </a>
                    </div>
                </td>
                <td>{{ master.surname }}</td>
                <td>{{ master.first_name }}</td>
                <td>{% if master.second_name %}{{ master.second_name }}{% endif %}</td>
                <td>{% if master.is_male %}Чол{% else %}Жін{% endif %}</td>
                <td>+38{{ master.phone }}</td>
<!--                <td>{% if master.email %}{{ master.email }}{% endif %}</td>-->
                <td>{% if master.even_schedule %}Парний{% else %}Непарний{% endif %}</td>
                <td>{% if master.is_hired %}+{% else %}-{% endif %}</td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-10 offset-sm-1">
        <a href="{{ url_for('new_master_get') }}">
            <button type="submit" class="btn btn-primary">Додати</button>
        </a>
    </div>
</div>
{% endblock %}