{% extends 'base.html' %}


{% block title %}
Мій розклад
{% endblock %}


{% block header %}
Мій розклад
{% endblock %}


{% block content %}

<div class="row">
    <div class="col-12 col-sm-10">
        <div class="form-group row">
            <div class="col-md-3">
                <div class="form-group">
                    <div class="input-group date" id="master_timetable_datetimepicker" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" id="master-timetable-input">
                        <div class="input-group-append" data-target="#master_timetable_datetimepicker"
                             data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12 col-sm-10 mx-auto">
        <table class="table table-bordered table-responsive-lg" id="mainTable">
            <thead>
            <tr>
                <th scope="col" style="width:0px;">Час</th>
                <th scope="col">Подія</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>


{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='input_date_utils.js') }}"></script>
<script src="{{ url_for('static', filename='master_timetable.js') }}"></script>
{% endblock %}