{% extends 'base.html' %}


{% block title %}
Змінити/додати процедуру
{% endblock %}


{% block header %}
Змінити/додати процедуру
{% endblock %}


{% block content %}

<div class="row">
    <div class="col-12 col-sm-10 mx-auto">
        <form action="{{ action }}" method="POST">
            <div class="form-group row">
                <label for="procCategID" class="col-md-2 col-form-label">Назва категорії *</label>
                <div class="col-md-10">
                    <select class="form-control" id="procCategID" name="procCategID" required>
                        <option {% if not procedure %}selected{% endif %} value="">
                            Оберіть категорію
                        </option>

                        {% for category in categories %}
                        <option value="{{ category.id }}"
                                {% if category.id== procedure.category_id %}
                                selected
                                {% endif %}>
                            {{ category.name }}
                        </option>
                        {% endfor %}

                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="procName" class="col-md-2 col-form-label">Назва процедури *</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="procName" name="procName"
                           value="{{ procedure.name }}">
                </div>
            </div>
            <div class="form-group row ">
                <label for="procMin" class="col-md-2 col-form-label">Мінімальна ціна *</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" id="procMin" name="procMin"
                           value="{{ procedure.price_min }}">
                </div>
                <label for="procMax" class="col-md-2 col-form-label">Максимальна ціна</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" id="procMax" name="procMax"
                           value="{% if procedure.price_max %}{{ procedure.price_max }}{% endif %}">
                </div>
            </div>
            <!--<div class="form-group row">
                <label for="procMasters" class="col-md-2 col-form-label">Майстри</label>
                <div class="col-md-10">
                    <select class="form-control" id="procMasters" multiple>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </div>-->


            <div class="form-group row">
                <label for="procInfo" class="col-md-2 col-form-label">Додаткова інформація</label>
                <div class="col-md-10">
                    <textarea class="form-control" id="procInfo" name="procInfo" rows="5">
{% if procedure.info %}{{ procedure.info }}{% endif %}</textarea>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-10 offset-md-2">
                    <button type="submit" class="btn btn-primary">Зберегти</button>
                    <a href="{{ url_for('procedures_get') }}">
                        <button type="button" class="btn btn-secondary">Назад</button>
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}