{% extends 'base.html' %}


{% block title %}
Процедури
{% endblock %}


{% block content %}
<div class="row mt-3 mb-3">
    <div class="container">
        <h4 class="d-flex justify-content-center">Список процедур</h4>
    </div>
</div>

<!-- Table - list of procedures -->
<div class="row">
    <div class="col-12 col-sm-10 mx-auto">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th style="width: 10%" scope="col"></th>
                <th scope="col">Категорія</th>
                <th scope="col">Процедура</th>
                <th scope="col">Мін. ціна</th>
                <th scope="col">Макс. ціна</th>
                <th scope="col">Додаткова інформація</th>
            </tr>
            </thead>
            <tbody>

            {% for procedure in procedures %}
            <tr>
                <td>
                    <a class="btnEdit" href="{{ url_for('procedure', procedure_id=procedure.id) }}">
                        <span class="fa fa-edit"></span>
                    </a>
                    <a href="{{ url_for('procedure_delete', procedure_id=procedure.id) }}">
                        <span class="fa fa-trash"></span>
                    </a>
                </td>
                <td>{{ procedure.category_name }}</td>
                <td>{{ procedure.procedure_name }}</td>
                <td>{{ procedure.price_min }}</td>
                <td>
                    {% if procedure.price_max %}
                    {{ procedure.price_max }}
                    {% endif %}
                </td>
                <td>
                    {% if procedure.info %}
                    {{ procedure.info }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-10 offset-md-1">
        <a href="{{ url_for('procedure_new') }}">
            <button type="submit" class="btn btn-primary">Додати</button>
        </a>
        <a href="{{ url_for('procedures') }}"><button type="button" class="btn btn-secondary">Назад</button></a>
    </div>
</div>





{% endblock %}