{% extends 'base.html' %}


{% block title %}
Змінити/додати процедуру
{% endblock %}


{% block header %}
Змінити/додати процедуру
{% endblock %}


{% block content %}

<div class="row">
    <div class="col-12 col-sm-10 mx-auto">
        <form action="{{ action }}" method="POST">

            {{ form.csrf_token }}

            <div class="form-group row">
                {{ form.category_id.label(class="col-md-2 col-form-label") }}
                <div class="col-md-10">
                    {{ form.category_id(class="form-control") }}
                </div>
            </div>

            <div class="form-group row">
                {{ form.name.label(class="col-md-2 col-form-label") }}
                <div class="col-md-10">
                    {{ form.name(class="form-control") }}
                </div>
            </div>

            <div class="form-group row">
                {{ form.price_min.label(class="col-md-2 col-form-label") }}
                <div class="col-md-4">
                    {{ form.price_min(class="form-control") }}
                </div>
                {{ form.price_max.label(class="col-md-2 col-form-label") }}
                <div class="col-md-4">
                    {{ form.price_max(class="form-control") }}
                </div>
            </div>

            <div class="form-group row">
                {{ form.info.label(class="col-md-2 col-form-label") }}
                <div class="col-md-10">
                    {{ form.info(class="form-control", rows=3) }}
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-10 offset-md-2">
                    <button type="submit" class="btn btn-primary">Зберегти</button>
                    <a href="{{ url_for('procedures_get') }}">
                        <button type="button" class="btn btn-secondary">Назад</button>
                    </a>
                </div>
            </div>

            {% if not new_procedure %}
            <div class="form-group row pl-3 mt-5">
                Улюблена у {{ favourite_clients_amount }} користувачів(а)
            </div>
            {% endif %}
        </form>
    </div>
</div>

{% endblock %}