{% extends 'base.html' %}


{% block title %}
Procedures
{% endblock %}


{% block content %}


<!-- Table - list of categories -->
<div class="row mt-5">
    <div class="col-12 col-sm-10 mx-auto">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th style="width: 10%" scope="col"></th>
                <th scope="col">Категорія</th>
                <th scope="col">Процедура</th>
                <th scope="col">Мін. ціна</th>
                <th scope="col">Макс. ціна</th>
                <th scope="col">Майстри</th>
                <th scope="col">Додаткова інформація</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <a class="btnEdit" href="#">Змінити</a>
                    <a href="#">Видалити</a>
                </td>
                <td>Манікюр</td>
                <td>Класичний манікюр</td>
                <td>100</td>
                <td>150</td>
                <td>Катя, Маша</td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <a href="#">Змінити</a>
                    <a href="#">Видалити</a>
                </td>
                <td>Манікюр</td>
                <td>Покриття лаком</td>
                <td>300</td>
                <td>500</td>
                <td>Іра, Лера</td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-10 offset-md-1">
        <button type="submit" class="btn btn-primary">Додати</button>
    </div>
</div>





{% endblock %}