{% extends 'base.html' %}


{% block title %}
Мої записи
{% endblock %}


{% block header %}
Мої записи
{% endblock %}


{% block content %}

<div id="modalDelete" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Видалення запису</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Ви впевнені, що хочете видалити запис?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger submit">Видалити</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
            </div>
        </div>
    </div>
</div>



<ul class="nav nav-tabs mb-5" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="active-tab" data-toggle="tab" href="#active" role="tab" aria-controls="active"
           aria-selected="true">Актуальні записи</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="prev-tab" data-toggle="tab" href="#prev" role="tab" aria-controls="prev"
           aria-selected="false">Історія</a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="active" role="tabpanel" aria-labelledby="active-tab">

        {% if future_appointments|length > 0 %}
        {% for appointment in future_appointments %}
        <div class="card mb-3 col-12 col-lg-9 mx-auto p-0">
            <div class="card-header">
                <div class="row">
                    <div class="col-6 col-sm-5">
                        <h5 class="mb-0">
                            <span class="fa fa-calendar-alt fa-xs"></span>
                            {{ appointment.appoint_start.strftime('%d.%m.%Y') }}
                        </h5>

                    </div>
                    <div class="col-4">
                        <h5 class="mb-0">
                            <span class="fa fa-clock fa-xs"></span>
                            {{ appointment.appoint_start.strftime('%H:%M') }}
                            -
                            {{ appointment.appoint_end.strftime('%H:%M') }}
                        </h5>
                    </div>
                    <div class="col-2 col-sm-3">
                        <a class="float-right">
                            <span class="fa fa-trash delete-card"
                                  style="cursor: pointer"
                                  onclick="initDeleteCard({{appointment.appointment_id}})"></span>
                        </a>

                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-5 mb-3 mb-md-0">
                        <h6 class="card-subtitle">Процедура:</h6>
                        <p class="card-text">{{ appointment.procedure_name }}</p>
                    </div>
                    <div class="col-12 col-md-4 mb-3 mb-md-0">
                        <h6 class="card-subtitle">Майстер:</h6>
                        {{ appointment.master_surname }}
                        {{ appointment.master_first_name }}
                    </div>
                    <div class="col-12 col-md-3">
                        <h6 class="card-subtitle">Ціна:</h6>
                        <p class="card-text">
                            {{ appointment.price_min|round }}
                            {% if appointment.price_max %}
                            &nbsp;-&nbsp;{{ appointment.price_max|round }}&nbsp;грн
                            {% endif %}
                        </p>
                    </div>
                </div>
                <div class="row">
                    {% if appointment.preferences %}
                    <div class="col-12 col-md-12">
                        <br>
                        <h6 class="card-subtitle">Побажання:</h6>
                        <p class="card-text">
                            {{ appointment.preferences }}
                        </p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        Немає актуальних записів
        {% endif %}

    </div>
    <div class="tab-pane" id="prev" role="tabpanel" aria-labelledby="prev-tab">


        <!-- Table - list of schedule changes -->
        <div class="row">
            <div class="col-12 col-sm-10 mx-auto">
                <table class="table table-bordered table-responsive-lg entriesList">
                    <thead>
                    <tr>
                        <th scope="col">Дата</th>
                        <th scope="col">Процедура</th>
                        <th scope="col">Майстер</th>
                        <th scope="col">Ціна, грн</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for appointment in past_appointments %}
                    <tr>

                        <td>{{ appointment.appoint_start.strftime('%d.%m.%Y') }}</td>
                        <td>{{ appointment.procedure_name }}</td>
                        <td>
                            {{ appointment.master_surname }}
                            {{ appointment.master_first_name }}
                        </td>
                        <td>{{ appointment.price }}</td>
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>


    </div>
</div>

{% endblock %}


{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/api/admin/appointments.js') }}"></script>

<script>

    const modalDelete = $('#modalDelete');
    const modalDeleteSubmit = modalDelete.find('.submit').eq(0);


    function initDeleteCard(card_id) {
        modalDelete.modal('show');

        modalDeleteSubmit.off();
        modalDeleteSubmit.on('click', function () {
            sendRequestDeleteAppointment(card_id, processRequestDeleteAppointCard);
        });
    }

    function processRequestDeleteAppointCard(result) {
        modalDelete.modal('hide');
        if (result.status === false) {
            showError(result.message);
        } else {
            location.reload();
        }
    }


</script>
{% endblock %}